     <!-- Site footer -->
     <footer class="alert alert-success" role="alert">
      If you do not have Metamask installed <a href="https://metamask.io/" class="alert-link">click here to get set up</a>.
    </footer>
