<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="H-Container">
      <div class="top-nav">
        <img src="images/block.png" class="menu-icon">
      </div>
    </div>
  </body>
</html>
