<!DOCTYPE html>
<html>
  <head> <!-- Head -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='main.css' />
  </head>
  <body>

 <!--NAVBAR-->
 <%- include partials/nav.ejs %>
   
    <a href="https://metamask.io/" class="alert-link">click here to get set up</a>.
   
    <!-- JS Scripts -->
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
    
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </body>
</html>
